<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script> -->
<footer class="footer">
    <div class="container">
        <nav class="footer-nav">
            <a class="footer-nav-item" href="/">{{ site.subtitle }}</a>
            <a class="footer-nav-item" href="/projects">Projects</a>
        </nav>
        <span class="footer-copy">
                © 2018 Copyright {{ site.subtitle }} | All rights reserved.
            </span>
        <span class="footer-love">
            <a href="https://github.com" class="no-underline"><i class="fas fa-code icon-size-sm"></i> with <i class="fas fa-heart icon-size-sm"></i> by <i class="fab fa-gitlab icon-size-sm"></i></a>
        </span>
    </div>
</footer>
</div>
</body>
<script src="/assets/js/custom.js" crossorigin="anonymous"></script>
</html>